@import '../../../styles/helpers/helpers';

.navbar {
    background-color: $color__primary;

    .navbar-nav {
        .nav-link {
            border-radius: 50px;
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0px 5px;
            @include transition;

            &:hover,
            &.active {
                background-color: $color__secondary-dark;
            }

            img {
                max-width: 24px;
                min-height: 24px;
            }
        }
    }

    .navbar-toggler {
        padding: 0;
        border: none;

        .navbar-toggler-icon {
            background-image: url(../../../Images/Icons/icon_burgerMenu_white.svg);
        }
    }
}