@import '../../../styles/helpers/helpers';


#wrapper {
    overflow-x: hidden;
    display: flex;

    &.toggled #sidebar-wrapper {
        margin-left: 0;

        @media (min-width: 768px) {
            margin-left: -230px;
        }
    }
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -230px;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    @include box-shadow-card;
    z-index: 1;

    @media (min-width: 768px) {
        margin-left: 0;
    }

    &>div {
        outline: none;
    }

    ul {
        width: 230px;
        list-style: none;
        padding-left: 0;

        .rstm-tree-item {
            padding: 16px;
            font-size: $fontSizeParagraph;
            font-weight: $fontWeightRegular;
            cursor: pointer;
            border-bottom: 0;
            @include transition;

            &--focused, &:hover {
                box-shadow: none;
                background-color: $color__secondary;
                color: $color__text-white;
            }

            &--active {
                background-color: $color__secondary-dark;
                color: $color__text-white;
            }

            &-level0 {
                padding-left: 16px !important;
            }

            &-level1 {
                padding-left: 26px !important;
            }

            &-level2 {
                padding-left: 38px !important;
            }

            .rstm-toggle-icon {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 30px;

                &-symbol {
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(0px, -50%);
                }
            }
        }

        .content {
            //  display: none;
            height: 0;

            &.active {
                //  display: block;
                height: auto;

                .title {

                    background-color: $color__submenu;
                    color: $color__text-white;

                }
            }

        }
    }
}

#page-content-wrapper {
    min-width: 100vw;
    background-color: $color__background-greyLight;

    @media (min-width: 768px) {
        min-width: 0px;
        width: 100%;
    }
}

// .admin_outer

.card_layout {
    background: #fff;
    padding: 5%;
    border-radius: 5px;
    margin-bottom: 15px;
    @include box-shadow-card;
}